<div>
  <h1>{{ surveyData.title }}</h1>
  <p>{{ surveyData.description }}</p>
  <form [formGroup]="surveyForm" (ngSubmit)="onSubmit()">
    <div formArrayName="questions">
      <div *ngFor="let question of surveyData.questions; let i = index" [formGroupName]="i">
        <ng-container [ngSwitch]="question.type">
          <div *ngSwitchCase="QuestionType.SingleChoice">
            <label>{{ question.text }}</label>
            <div *ngFor="let option of (question as SingleChoiceQuestion).options">
              <input type="radio" [formControlName]="question.id" [value]="option" />
              {{ option }}
            </div>
            <div *ngIf="question.helpText">{{ question.helpText }}</div>
            <div *ngIf="surveyForm.get(['questions', i, question.id])?.invalid && surveyForm.get(['questions', i, question.id])?.touched">
              This field is required.
            </div>
          </div>
          <div *ngSwitchCase="QuestionType.MultipleChoice">
            <label>{{ question.text }}</label>
            <div *ngFor="let option of (question as MultipleChoiceQuestion).options">
              <input type="checkbox" [formControlName]="option" /> {{ option }}
            </div>
            <div *ngIf="question.helpText">{{ question.helpText }}</div>
          </div>
          <div *ngSwitchCase="QuestionType.Text">
            <label>{{ question.text }}</label>
            <input type="text" [formControlName]="question.id" [placeholder]="(question as TextQuestion).placeholder" />
            <div *ngIf="question.helpText">{{ question.helpText }}</div>
            <div *ngIf="surveyForm.get(['questions', i, question.id])?.invalid && surveyForm.get(['questions', i, question.id])?.touched">
              <div *ngIf="surveyForm.get(['questions', i, question.id])?.hasError('required')">This field is required.</div>
              <div *ngIf="surveyForm.get(['questions', i, question.id])?.hasError('maxlength')">Maximum length exceeded.</div>
            </div>
          </div>
          <div *ngSwitchCase="QuestionType.Rating">
            <label>{{ question.text }}</label>
            <input type="number" [formControlName]="question.id" min="1" [max]="(question as RatingQuestion).scale" />
            <div *ngIf="question.helpText">{{ question.helpText }}</div>
            <div *ngIf="surveyForm.get(['questions', i, question.id])?.invalid && surveyForm.get(['questions', i, question.id])?.touched">
              This field is required.
            </div>
          </div>
          <div *ngSwitchCase="QuestionType.Checkbox">
            <label>
              <input type="checkbox" [formControlName]="question.id" /> {{ question.text }}
            </label>
            <div *ngIf="question.helpText">{{ question.helpText }}</div>
          </div>
          <div *ngSwitchCase="QuestionType.Date">
            <label>{{ question.text }}</label>
            <input type="date" [formControlName]="question.id" [min]="question.validation?.minDate" [max]="question.validation?.maxDate" />
            <div *ngIf="question.helpText">{{ question.helpText }}</div>
            <div *ngIf="surveyForm.get(['questions', i, question.id])?.invalid && surveyForm.get(['questions', i, question.id])?.touched">
              This field is required.
            </div>
          </div>
          <div *ngSwitchCase="QuestionType.Number">
            <label>{{ question.text }}</label>
            <input type="number" [formControlName]="question.id" [min]="question.validation?.minValue" [max]="question.validation?.maxValue" [placeholder]="(question as NumberQuestion).placeholder" />
            <div *ngIf="question.helpText">{{ question.helpText }}</div>
            <div *ngIf="surveyForm.get(['questions', i, question.id])?.invalid && surveyForm.get(['questions', i, question.id])?.touched">
              <div *ngIf="surveyForm.get(['questions', i, question.id])?.hasError('required')">This field is required.</div>
              <div *ngIf="surveyForm.get(['questions', i, question.id])?.hasError('min')">Minimum value is {{ question.validation?.minValue }}.</div>
              <div *ngIf="surveyForm.get(['questions', i, question.id])?.hasError('max')">Maximum value is {{ question.validation?.maxValue }}.</div>
            </div>
          </div>
          <div *ngSwitchCase="QuestionType.Textarea">
            <label>{{ question.text }}</label>
            <textarea [formControlName]="question.id" [placeholder]="(question as TextareaQuestion).placeholder" [rows]="(question as TextareaQuestion).rows"></textarea>
            <div *ngIf="question.helpText">{{ question.helpText }}</div>
            <div *ngIf="surveyForm.get(['questions', i, question.id])?.invalid && surveyForm.get(['questions', i, question.id])?.touched">
              <div *ngIf="surveyForm.get(['questions', i, question.id])?.hasError('required')">This field is required.</div>
              <div *ngIf="surveyForm.get(['questions', i, question.id])?.hasError('maxlength')">Maximum length exceeded.</div>
            </div>
          </div>
          <div *ngSwitchCase="QuestionType.Dropdown">
            <label>{{ question.text }}</label>
            <select [formControlName]="question.id" [multiple]="(question as DropdownQuestion).multiple">
              <option *ngFor="let option of (question as DropdownQuestion).options" [value]="option">{{ option }}</option>
            </select>
            <div *ngIf="question.helpText">{{ question.helpText }}</div>
            <div *ngIf="surveyForm.get(['questions', i, question.id])?.invalid && surveyForm.get(['questions', i, question.id])?.touched">
              This field is required.
            </div>
          </div>
          <div *ngSwitchCase="QuestionType.FileUpload">
            <label>{{ question.text }}</label>
            <input type="file" [formControlName]="question.id" [accept]="question.validation?.acceptedFileTypes?.join(', ')" />
            <div *ngIf="question.helpText">{{ question.helpText }}</div>
          </div>
        </ng-container>
      </div>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
